@mixin upper() {
    text-transform: uppercase;
    font-weight: bold;
}

body {
    background: #0E0E0E url(../images/bg.jpg) no-repeat top left;
    font-family: tahoma, arial, sans-serif;
    font-size: 62.5%;
    line-height: 2em;
    #container {
        width: 960px;
        margin: 37px auto;
    }
}

header {
    #top {
        background: #fff;
        border-radius: 5px 5px 0 0;
        height: 103px;
        position: relative;
        
        p#phone {
            float: right;
            background: url(../images/phone_bg.png) no-repeat;
            height: 31px;
            width: 221px;
            
            a {
                font-size: 18px;
                font-weight: bold;
                color: #c9c9c9;
                margin: 6px 0px 6px 32px;
                
                &:hover{
                    color: #585858;
                }
            }
            
            .md-color {
                color: #c9c9c9;
                position: relative;
                left: 30px;
                top: 3px;
                font-size: 26px;
            }
        }/*End phone*/
        
        img {
            margin: 36px 0px 25px 41px;
            float: left;
        }
        
        ul { /*Nhờ vậy mà đưa nav vào đúng vị trí*/
            position: absolute;
            bottom: 21px;
            right: 31px;
            
            li {
                display: inline-table;
            }
            #hier {
               color: #fff;
               background: #084596;
           }
            a{
                font-size: 12px;
                @include upper();
                color: #808080;
                height: 24px;
                line-height: 24px;
                margin-right: 37px;
                padding: 0px 15px;
                border-radius: 5px;
                display: block;
                
                &:hover {
                    @extend #hier;
                }
            }
        }
    } /*End #top*/
    
    #banner {
        background: url(../images/banner_bg.jpg) no-repeat top left;
        height: 335px;
        position: relative;
        font-family: "Trebuchet MS", tahoma, sans-serif;
        
        img{
            position: absolute;
            right: 30px;
            bottom: -28px;
        }
        
        h1 {
            color: #fff;
            width: 370px;
            line-height: 1.3em;
            font-size: 29px;
            position: absolute;
            top: 84px;
            left: 51px;
            
            strong{
                @include upper();
            }
        }
        
        p{
            @include upper();
            color: #B90016;
            font-size: 20px;
            text-indent: 20px;
            width: 254px;
            height: 51px;
            line-height: 51px;
            background: #ededed;
            border-radius: 5px;
            position: absolute;
            top: 221px;
            left: 55px;
            
            &:hover {
                cursor: pointer;
                background: white;
            }
            
            .md-fw {
                font-size: 24px;
                position: relative;
                top: 5px;
                left: -5px;
                color: #656665;
            }
        }   
    }/*End #banner*/
    article#featured {
        background: #ededed;
        overflow: hidden; /*Khi dùng float thì thẻ mẹ phải dùng cái này dể kết thúc float*/
        padding: 40px;
        .col {
            float: left;
            width: 30.667%;
            margin-right: 2%;
            &:first-child {
              margin-left: 2%; 
            }
            img {
              float: left;
              margin-right: 18px; 
            }
            span {
                display: block;/*xuống dòng*/
                font-size: 15px;
                font-weight: bold;
            }
            p {
              font-size: 12px;
              color: #4f4f4f; 
            }
        }
    }    
}/*END - header*/


/** Post**/

#post {
    background: #fff;
    padding: 41px 20px 52px 20px;
    overflow: hidden;/*Khi dung float thi the me phai de the nay*/
    border-bottom: 2px solid #6c6c6c;
    .post-item {
        float: left;
        width: 31%;
        margin-left: 2.3%;
        &:last-child {
            float: right;
        }
        h2 a:link,
        h2 a:visited {
            font-weight: bold;
            font-size: 25px;
            color: black;
        }
        img {
            margin: 24px 0px 20px 0px;
        }
        p {
            font-size: 12px;
            color: #4f4f4f;
        }
        a.read-more {
            display: block;
            height: 27px;
            line-height: 27px;
            width: 96px;
            background: #b5adad;
            border: 1px solid #6c6c6c;
            border-radius: 5px;
            @include upper();
            color: #6c6c6c;
            text-align: center;
            margin-top: 20px;
            &:hover {
                background: lighten(#6c6c6c, 50%);
            }
        }
        ul {
            margin-top: 20px;
            list-style: inside url(../images/list_style.png);
            li {
                border-bottom: 1px dotted #6c6c6c;
                margin: 5px;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    color: blue;
                    font-size: 14px;
                }
            }
        }
    }
} //End-post
footer {
    background: #EDEDED;
    border-radius: 0 0 5px 5px;
    padding: 24px 4%;
    font-size: 12px;
    .section-footer {
        float: left;
        width: 35%;
        margin-left: 5%;
        &:first-child {
            width: 20%;
            margin: 0;
        }
        h3 {
            font-weight: bold;
            padding-bottom: 21px;
            font-size: 15px;
        }
        a {
            color: blue;
            display: block;
            border-bottom: 1px dotted #655f5f;
            line-height: 24px;
            height: 24px;
        }
        strong {
            font-weight: bold;
            display: block;
        }
        .blog {
            padding-bottom: 21px;
            &:last-child {
                padding-bottom: 0;
            }
            h4 {
                font-weight: bold;
            }
        }
    }
    .clear {
        clear: both;
    }
    #footer {
        border-top: 1px solid #e2dada;
        padding-top: 21px;
        margin-top: 24px;
    }
    #social {
        float: right;
        .genericon {
            font-size: 24px;
            margin-right: 10px;
        }
        .genericon-facebook-alt {
            color: #EFEFEF;
            background: #45619D;
            &:hover {
                color: #45619D;
                background: #EFEFEF;
            }
        }
        .genericon-twitter {
            color: #55ACEE;
            &:hover {
                color: #efefef;
                background: #55ACEE;
            }
        }
        .genericon-googleplus {
            color: #EFEFEF;
            background: #DD4F43;
            &:hover {
                color: #DD4F43;
                background: #efefef;
            }
        }
    }
}